body{
  background-color: black ;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina Shadow';
  font-weight: bold;
  font-size: 80px;
  color: lightblue;
}

.background-tab{
  margin: 0px;
  background-color: black;
  background-size: cover;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina Shadow';
  font-weight: lighter;
  font-size: 60px;
  color: pink;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina Shadow';
  font-weight: lighter;
  font-size: 35px;
  color: pink;
}

h4{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina Shadow';
  font-weight: bold;
  font-size: 35px;
  color: lightblue;
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina Shadow';
  font-weight: lighter;
  font-size: 20px;
  color: orchid;
}

img{
  width: 100%;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  background-color: rgba(37, 25, 4, 0.39);
  padding: 2vmin;
  font-size: 1.5rem;
}
